<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Delays!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">google.charts.load('current', { 'packages': ['corechart'] });</script>

</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">U. S. Airline Delays</h1>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select Airport:</h5>
          <select id="selAirport" onchange="optionChanged()"></select>
        </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h5>Select Carrier:</h5>
            <select id="selAirline" onchange="optionChanged()"></select>
          </div>
          </div>
          <div class="col-md-2">
            <div class="well">
              <h5>Select Month:</h5>
              <select id="selMonth" onchange="optionChanged()"></select>
            </div>
            </div>
            <div class="col-md-2">
              <div class="well">
                <h5>Select Year:</h5>
                <select id="selYear" onchange="optionChanged()"></select>
              </div>
            </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Airline Delay Info</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div id="piechart" style="width: 1200px; height: 700px;"></div>
              </div>
            </div>

          
    </div>
  </div>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <script src="static/charts.js"></script>

  <script type="text/javascript">
    // google.charts.load('current', { 'packages': ['corechart'] });
    // google.charts.setOnLoadCallback(drawChart); 

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Delays', 'Type of Delay'],
        ['Carrier Delay', parseInt(d3.select("#cdelay").text().split(" : ")[1])],
        ['Weather Delay', parseInt(d3.select("#wdelay").text().split(" : ")[1])],
        ['NAS Delay', parseInt(d3.select("#ndelay").text().split(" : ")[1])],
        ['Security Delay', parseInt(d3.select("#sdelay").text().split(" : ")[1])],
        ['Late Aircraft Delay', parseInt(d3.select("#aldelay").text().split(" : ")[1])],
        ['Flight Cancelled', parseInt(d3.select("#candelay").text().split(" : ")[1])],
        ['Flight Diverted', parseInt(d3.select("#divdelay").text().split(" : ")[1])]
      ]);

        console.log(data)

      var options = {title: 'Delays in Minutes by Type'};

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script> 

<script src="static/air_delays.js"></script>
</body>

</html>
